/* ------ SASS MODULES ------ */ 
@import 'body';
@import 'footer';
@import 'loading-effects';
@import 'media-query';

/* ------ FONT & ICONS ------ */ 

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

/* ------ RESET & GENERAL ------ */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Work Sans, sans-serif;
    line-height: 1;
    color: black;
    background-image: linear-gradient(white, dodgerblue);
    background-attachment: fixed;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}